@import "reset";
@import "/public/fonts/rawline/rawline.css";
@import "variables/global";

body {
  font: var(--font-m);
}

.content-page {
  display: flex;
  background: var(--primary-bg-color);
  min-height: calc(100vh - var(--navbar-height));
}
